



<section>
    <div class="grid md:grid-cols-[70%_minmax(0,1fr)]" >
        <div>
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide>   <img src="/images/img1.avif" class=" h-[300px]" alt=""></ng-template>  
                <ng-template carouselSlide>   <img src="/images/img2.avif" class=" h-[300px]" alt=""></ng-template>  
                <ng-template carouselSlide>   <img src="/images/img3.avif" class=" h-[300px]" alt=""></ng-template>  
                <ng-template carouselSlide>   <img src="/images/img4.avif" class=" h-[300px]" alt=""></ng-template>  
                <ng-template carouselSlide>   <img src="/images/img5.avif" class=" h-[300px]" alt=""></ng-template>  
                <ng-template carouselSlide>   <img src="/images/img6.avif" class=" h-[300px]" alt=""></ng-template>  

                
              </owl-carousel-o>
         
        </div>
        <div>
            <img src="/images/grocery-banner.png" class=" h-[150px]" alt="">
            <img src="/images/grocery-banner-2.jpeg" class=" h-[150px]" alt="">
        </div>


    </div>
</section>
<!-- categories -->
<section>
    <h2 class="text-3xl text-center py-8">Popular Categories</h2>
    <owl-carousel-o [options]="customOptions">
   
          @for (cat of categories; track cat._id) {
            <ng-template carouselSlide [id]="cat._id">
               <div>
                <img [src]="cat.image" class="w-full h-[250px] object-contain" [alt]="cat.name" >
                <h3 class="text-green-600">{{cat.name}}</h3>
               </div>
              </ng-template>
          }
      
      </owl-carousel-o>
</section>
<!-- products -->
<section>

    <h2 class="py-8 text-center text-4xl ">Popular Products</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (product of products.slice(0,12); track product.id) {
            <div class=" card border hover:border-green-500/50 rounded-md overflow-hidden shadow hover:scale-[1.1] relative transition-all">
                <div class="card-img">
                    <img [src]="product.imageCover" class="w-full h-[250px] object-contain" [alt]="product.title">
                </div>
                <div class="card-body px-2 py-4">
                    <h4 class="text text-green-500 text-xs"> {{product.category.name}}</h4>
                    <h3 class="font-medium"> {{product.title.split(" ",2).join(' ')}}</h3>
                    <div class="flex justify-between items-center">
                        <span>{{product.price}} EGP</span>
                        <div class="flex items-center">
                            <i class="fas fa-star text-yellow-300"></i>
                            <span class="text-gray-500">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
                <button class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add To Card</button>
            </div>
        }

    </div>
</section>
